body {
    background-color: rgb(202 202 202);
    background-image: url('abstract.jpg');
    background-position: center;
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100%;
}

body*{
    font-family:arial;
}

h1,h2,h3,h4,h5{
    font-weight:normal;
    margin:0
}

a,a:hover,a:visited{
    color: #ffffff;
    text-decoration:none;
}
